.button {
  border-radius: 20px;
  display: inline-block;
  padding: 0.5em 1em;
  cursor: pointer;
}
.button--primary {
  background-color: rgba(33, 110, 110, 0.9);
  color: #FFFFFF;
  &:hover {
    background-color: rgba(33, 110, 110, 0.8);
    color: #FFFFFF;
    text-decoration: none;
  }
}

.button--info {
  background-color: rgba(112, 103, 106, 0.9);
  color: #FFFFFF;
}

.button--twitter {
  background-color: #1BA1F1;
  color: #FFFFFF;
}